= simple_form_for(@event, :html => {:class => 'form'}) do |form|
  .form-group
    = form.input :name, :input_html => {:class => 'form-control'}
  .form-group
    = form.input :event_date, :as => :string, :input_html => {:class => 'form-control', :'data-behaviour' => 'datepicker'}
  .form-group
    = form.button :submit, :class => 'btn btn-primary'